@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .topbar {
    @apply w-screen flex items-center justify-between px-20 py-3 bg-lime-300 font-semibold text-lime-600;
  }

  .topbar > div {
    @apply flex items-center h-full;
  }

  .topbar_link {
    @apply flex font-semibold h-full px-10 cursor-pointer;
  }

  .topbar > ul > li:last-child {
    @apply border-lime-600 border-l;
  }

  .section_align {
    padding-left: 15rem;
    padding-right: 15rem;
  }

  main section {
    @apply p-10 shadow rounded-lg bg-slate-50 w-9/12 flex flex-col items-center gap-4 justify-center mx-auto;
  }
  .hideTag {
    display: none;
    visibility: hidden;
    @apply w-0 h-0;
  }
}
